{% extends 'layout.html' %}

{% block container %}
<div class="row">
    <div class="col-12 col-md-12">
        <h2>Sistema de registro de datos</h2>
    </div>
    <div class="col-12 col-md-12">
        <h3>Informacion general</h3>
    </div>
    <div class="col-12 col-md-12">
        <p>
            Informacion <br> ...
        </p>
    </div>
    <div class="col-12 col-md-12">
        <h3>Terminos y condiciones</h3>
    </div>
    <div class="col-12 col-md-12">
        <p>
            Terminos y condiciones <br> ...
        </p>
    </div>
    <div class="col-12 col-md-12">
        <a class="btn btn-primary" href="{{url_for('.form')}}">Iniciar registro</a>
    </div>
</div>
{% endblock %}