{% extends 'layout.html' %}

{% block container %}
<div class="col-12">
    <h3>Lista de registros</h3>
</div>
<div class="table-responsive">
<table class="table table-bordered table-hover">
    <caption> Registros: {{pagination.total}}, paginas: {{pagination.pages}} </caption>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for per in pers %}
        <tr>
            <td> {{per.id}} </td>
            <td> {{per.name}} </td>
            <td> {{per.age}} </td>
            <td> {{per.temperature}} </td>
            <td> {{per.phone}} </td>
            <td> {{per.email}} </td>
            <td>
                <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#desc{{per.id}}"
                    aria-expanded="false"> show </button>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <div class="collapse" id="desc{{per.id}}">
                    <table>
                        <tbody>
                            <tr>
                                <th class="col-6">Enfermedad que aumente la temperatura corporal</th>
                                <td class="col-6">{{per.disease_temp}}</td>
                            </tr>
                            <tr>
                                <th>Observaciones</th>
                                <td>{{per.observations}}</td>
                            </tr>
                            <tr>
                                <th>Condiciones</th>
                                <th>Cormobilidades</th>
                            </tr>
                            <tr>
                                <td>
                                    <ol>
                                        {% for condi in per.condis %}
                                        <li>{{condi.label}}</li>
                                        {% endfor %}
                                    </ol>
                                </td>
                                <td>
                                    <ol>
                                        {% for comor in per.comors %}
                                        <li>{{comor.label}}</li>
                                        {% endfor %}
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<nav>
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
        <li class="page-item">
            <a href="{{url_for('.lista', page=page-1)}}" class="page-link">Prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Prev</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a href="#" class="page-link">{{page}}</a>
        </li>
        {% if pagination.has_next %}
        <li class="page-item">
            <a href="{{url_for('.lista', page=page+1)}}" class="page-link">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}